<!-- <op-navigation></op-navigation> -->

<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">Access Matrix</h5>
        <div>
            <form>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select [(ngModel)]="filter.roleId" class="form-control" [ngModelOptions]="{standalone: true}" (change)="searchByRole()">
                        <option *ngFor="let role of roleList" [value]="role.id">
                        <!-- <option *ngFor="let role of roleList" [value]="tipeMerchant.id" [selected]="tipeMerchant.id == tipeMerchantSelected.id"> -->
                            {{role.name}}
                        </option>
                    </select>
                    <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Save
                        <i class="fa fa-plus-circle fa-lg"></i>
                    </button> -->
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary" (click)="saveMenuAccess()">Save
                        <i class="fa fa-save fa-lg"></i>
                    </button>
                </div>
            </form>
        </div>
        <br>
        <!-- tree view -->
        <ngx-treeview [items]="items" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)"
            (filterChange)="onFilterChange($event)">
        </ngx-treeview>
    </div>
</div>
<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
    let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item">
        <!-- <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa"
            [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i> -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked"
                (ngModelChange)="onCheckedChange()" [disabled]="item.disabled" [indeterminate]="item.indeterminate" />
            <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
                {{item.text}}
            </label>
            <!-- <label class="form-check-label">
                <i class="fa fa-trash" aria-hidden="true" title="Remove" (click)="removeItem(item)"></i>
            </label> -->
        </div>
    </div>
</ng-template>